html{
	background: url("../images/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#navBar{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: blue;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%
}

#navBar a{
	text-decoration: none;
	color: white;
}

#prof{
	width: 400px;
	height: 400px;
	float: left;
}
#bioDis{
	float: left;
	padding-left: 100px;
	padding-right: 200px;
}

#skillsBox{
	float: left;
	text-align: center;
}

#projects{
	padding-top: 1300px;
}

#codeLang{
	width: 200px;
	height: 200px;
	padding: 100px;
}